

header.jumbotron {
    background: #e83936;
    color: white;
}

header.jumbotron h1 {
    padding: 30px 0;
}


.container-max {
    width: 100% !important;
    padding-bottom: 30px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    box-shadow: none;
}

.row-content .icon {
    text-align: center;
}

.row-content {
    text-align: justify;

}

.fa-max {
    font-size: 10em;
}

.page-header {
    border: none;
}

.content-white .page-header h1 span {
    background: #e83936;
    padding: 3px 5px;
    color: white
}

.content-white .row-footer {
    padding: 20px 0;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    color: #e83936;
}

.content-red .page-header h1 span {
    background: white;
    padding: 3px 5px;
    color: #e83936;
}

.content-red {
    background: #e83936;
    color: white;
}

.content-red .icon {
    color: #333;
}

.content-red .row-footer {
    padding: 20px 0;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    color: white;
}

.content-red.container-max {
    padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
    .icon {
        margin: 15px 0;
    }
}