<div class="center-column">
    <header class="welcome-header">
        <h1 class="lobby-title">Convert</h1>
    </header>
    <div class="timer-container">
        <span id="timer">{{mminutes}}{{minutes}}:{{sseconds}}{{seconds}}</span>
    </div>
    <div class="convert-container">
        <span class="convert-wrapper">
            <span class="convert-number">{{puzzle.inputValues.number}}</span>
            <span class="convert-base">{{puzzle.inputValues.in_base}}</span>
            <span class="convert-equal">=</span>
            <input type="text" ng-model="result"/>
            <span class="convert-base">{{puzzle.inputValues.out_base}}</span>
        </span>
    </div>
    <div class="btn btn-success" ng-click="send(result)">Send</div>
</div>