<header class="jumbotron">
    <div class="container">
        <div  class="row">
            <div class="col-xs-12 col-sm-8">
                <h1>Pi Hard</h1>
                <p style="padding:20px;"></p>
                <p>Unique experience.</p>
                <p>Intense gameplay.</p>
                <p>Limitless possibilities.</p>
            </div>
            <div class="col-xs-12 col-sm-4 header-logo">
            </div>
        </div>
    </div>
</header>
<div>
    <div class="container container-max content-white">
        <div class="container">
            <div class="row row-header">
                <div class="col-sm-12 page-header">
                    <h1><span>Experience</span></h1>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-sm-8 col-xs-12">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor ligula, tempus id quam at, accumsan vehicula arcu. Ut condimentum lacus lectus, non consequat massa rutrum non. Morbi laoreet sed eros vitae mattis. Aliquam vel urna convallis, dignissim nibh ut, ornare mauris. Proin commodo eleifend sem, eu posuere ex dictum quis. Vivamus auctor tempor libero rutrum euismod. Curabitur hendrerit urna at tincidunt porttitor. Sed et metus neque. Sed sodales sit amet leo eget convallis. Integer pellentesque, quam blandit commodo tempor, elit sem iaculis sem, sit amet sollicitudin magna mi sed massa.
                </div>
                <div class="col-sm-4 col-xs-12 icon">
                    <i class="fa fa-bomb fa-max"></i>
                </div>
            </div>
            <div class="row row-footer">
                <div class="col-xs-12 col-sm-4 col-sm-offset-8">
                    Check out gameplay <i class="fa fa-angle-double-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-max content-red">
        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8 col-sm-offset-4 page-header">
                    <h1><span>Gameplay</span></h1>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-sm-8 col-sm-push-4 col-xs-12">
                    Etiam ut augue diam. Maecenas eu pellentesque nisl. Curabitur sodales euismod justo porttitor sagittis. Fusce ipsum purus, rhoncus sit amet sollicitudin vel, egestas ut ante. Curabitur iaculis porttitor tellus ac malesuada. Suspendisse potenti. Mauris lobortis elit ac lacus tincidunt rhoncus. Mauris ac ex porttitor, sodales purus vitae, tincidunt ante. Integer vehicula risus at fringilla malesuada. Fusce vitae feugiat nunc. Cras tristique turpis sit amet maximus venenatis.
                </div>
                <div class="col-sm-4 col-sm-pull-8 col-xs-12 icon">
                    <i class="fa fa-laptop fa-max"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-max content-white">
        <div class="container">
            <div class="row row-header">
                <div class="col-sm-12 page-header">
                    <h1><span>Uniqueness</span></h1>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-sm-8 col-xs-12">
                    Donec id interdum ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor sem, sagittis sed quam eu, faucibus auctor ex. Donec maximus quam facilisis augue tincidunt, nec placerat arcu porttitor. Fusce fringilla non ligula ut iaculis. Vestibulum volutpat, lectus a maximus pharetra, nisi tellus tincidunt arcu, sed porttitor mi mauris a mi. Nulla non sem eu quam vestibulum aliquet nec ut elit. Duis velit ipsum, luctus a lacus vel, laoreet cursus tortor. Vestibulum quis porta nibh. Duis nec massa bibendum, pulvinar velit at, tempus lacus. Quisque in laoreet urna. Nullam id congue nibh.


                </div>
                <div class="col-sm-4 col-xs-12 icon">
                    <i class="fa fa-user-secret fa-max"></i>
                </div>
            </div>
            <div class="row row-footer">
                <div class="col-xs-12 col-sm-4 col-sm-offset-8">
                    Check out gameplay <i class="fa fa-angle-double-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>