<div class="center-column">
    <header class="welcome-header">
        <h1 class="game-title">pi hard</h1>
    </header>
    <section>
        <div class="menu-container">
            <ul class="menu-options">
                <li class="menu-element">
                    <a id="newgame" href="#/new">
                        <span class="title">New Game</span>
                    </a>
                </li>
                <li class="menu-element">
                    <a id="ranking" href="#/rank">
                        <span class="title">Scoreboard</span>
                    </a>
                </li>
                <li class="menu-element">
                    <a id="howto" href="#/howto">
                        <span class="title">How to play</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>