<header class="welcome-header">
    <span>Welcome to</span>
    <h1 class="game-title">pie hard</h1>
    <span>!</span>
</header>
<section>
    <div class="menu-container">
        <ul class="menu-options">
            <li class="menu-element">
                <a id="newgame" href="#/new">
                    <span class="glyphicon glyphicon-fire"></span>
                    New Game
                </a>
            </li>
            <li class="menu-element">
                <a id="ranking" href="#/rank">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    Ranking
                </a>
            </li>
            <li class="menu-element">
                <a id="howto" href="#/howto">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    How to play?
                </a>
            </li>
        </ul>
    </div>
</section>