<div class="center-column">
    <header class="welcome-header">
        <h1 class="new-game-title">New game</h1>
    </header>
    <div class="form-container">
        <form novalidate class="simple-form">
            <div class="form-element">
                <span>Time</span>
                <div class="input-group"><input type="number" ng-model="game.time" min="0" class="form-control" placeholder="Game duration" aria-describedby="basic-addon2"/><span class="input-group-addon" id="basic-addon2">min</span></div>
            </div>
            <div class="form-element">
                <span>Players</span>
                <div class="input-group"> <input class="form-control" type="number" ng-model="game.players" min="1" max="5"/></div>
            </div>
            <div class="form-element">
                <span>Name</span>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Player name" ng-model="game.name"/>
                </div>
            </div>
        </form>
        <div class="btn-group-lg" role="group">
            <div class="btn btn-danger btn-lg" ng-click="cancel()">Cancel</div>
            <div class="btn btn-success btn-lg" ng-click="create(game)">Create game</div>
        </div>
        <div class="toast" ng-show="showToast">{{toast}}</div>
    </div>
</div>