<div class="center-column">
    <header class="welcome-header">
        <h1 class="new-game-title">New game</h1>
    </header>
    <div class="form-container">
        <form novalidate class="simple-form">
            <span>Time -</span><div class="input-group"><input type="number" ng-model="game.time" min="0" class="form-control" placeholder="Game duration" aria-describedby="basic-addon2"/><span class="input-group-addon" id="basic-addon2">min</span></div>
            <span>Players</span><input type="number" ng-model="game.players" min="1" max="5"/>
            <span>Difficulty</span>
            <select ng-model="game.difficulty">
                <option value="1">Easy</option>
                <option value="2" selected>Normal</option>
                <option value="3">(Die) Hard!</option>
            </select>
            <input type="text" placeholder="Player name" ng-model="game.name"/>
        </form>
        <div class="button green" ng-click="create(game)">Create game</div>
        <div class="button red" ng-click="cancel()">Cancel</div>
        <div class="toast" ng-show="showToast">{{toast}}</div>
    </div>
</div>