<div class="form-container">
    <form novalidate class="simple-form">
        <span>Time -</span><input type="number" ng-model="game.time.min" min="0"/> : <input type="number" ng-model="game.time.sec" min="0" max="59"/> min
        <span>Players</span><input type="number" ng-model="game.players" min="3" max="5"/>
        <span>Difficulty</span>
        <select ng-model="game.difficulty">
            <option value="1">Easy</option>
            <option value="2">Normal</option>
            <option value="3">(Die) Hard!</option>
        </select>
    </form>
    <div class="button green" ng-click="create(game)">Create game</div>
    <div class="button red" ng-click="cancel()">Cancel</div>
</div>